---
title: Email Address and Mobile Number Verification
description: 
---

## POST /user
This API is used to create an account for a new customer. Do not confuse this API with the contacts API (which is used to create sub-accounts)

### Request Information

#### URI Parameters
None

#### Body Parameters

| Name | Type | Additional Information | Description |
|======|======|========================|=============|


```json

```

### Example Response